body{
    margin: 0 ;
    white-space : nowrap ; 
}
.box {
    display : inline-block ;
    box-sizing: border-box ; 
    width: 100px ;
    height: 150px ;
    background-color : #eeeff2;
    border-left : 10px dotted #D0D0FF;
    margin-right : 10px ;
    font-family: Tahoma , sans-serif;
    font-size: 40px;
    padding-left: 10px;}
.box:hover{
    cursor : pointer ; 
    background-color : yellow ;
    color : goldenrod ; 
}

.lastbox{
    position: fixed ; 
    bottom : 0 ;
    right : 0;
    margin-right:0;
}